@font-face {
  font-family: Inconsolata;
  src: url("./fonts/Inconsolata-Regular.ttf");
}

.book_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  ::-moz-selection {
    background: #ff2b48;
  }

  ::-webkit-selection {
    background: #ff2b48;
  }

  ::selection {
    background: #ff2b48;
  }
}

.book {
  border: 1px solid red;
  padding: 20px;
  width: 60%;
  height: 100%;
  background-color: #202124;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.light_book {
  border: 1px solid red;
  padding: 20px;
  width: 60%;
  height: 100%;
  background-color: #eee;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


.individual_book {

  display: flex;
  flex-direction: column;
  align-items: center;


}

.book_img {
  width: 300px;
  height: 400px;
}


.title {
  font-size: 40px;
  color: white;
  font-family: Inconsolata;
  text-align: center;
}

.light_title {
  font-size: 40px;
  color: black;
  font-family: Inconsolata;
  text-align: center;
}

.sub_title {
  font-size: 40px;
  color: rgb(59, 58, 128);
  font-family: Inconsolata;
  text-align: center;
  overflow: auto;
  font-style: italic;
  text-decoration: underline;
}

.book_content {
  font-size: 10px;
  color: white;
  text-align: left;
  font-family: Inconsolata;
}

.light_book_content {
  font-size: 10px;
  color: black;
  text-align: left;
  font-family: Inconsolata;
}

.logo {
  width: 450px;
  height: 200px;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.img_container img {
  max-width: 100%;
  height: auto;
}


.code_background {
  background-color: #171414;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 10px;
  color: greenyellow;
  overflow: auto;
}

.code_background_pink {
  background-color: #171414;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 10px;
  color: #fa7ea8;
}

.code_background_red {
  background-color: #171414;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 10px;
  color: hsl(0, 84%, 51%);
}

.center_it {

  font-family: monospace;
  text-align: center;
  overflow: auto;

}

.instruction {
  color: rgb(240, 50, 50);
  font-size: large;
  font-family: Courier;
}

.itatic_pink {
  color: #fa7ea8;
  font-style: italic;
}


.code_background_rsa {
  background-color: #171414;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 10px;
  color: greenyellow;
  overflow-x: hidden;
  word-wrap: break-word;

}

.centered_container {
  display: flex;
  justify-content: center;
}

a {
  color: rgb(95, 216, 40);
}


.content {
  color: white;
  font-family: monospace;

}

.issueBanner {
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(51, 51, 51, 0.6);
  padding: 10px;
  border-radius: 5px;
  font-family: Courier, monospace;
}

.anchorText {
  color: #fd0942;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .book {
    width: 90%;
  }
  .light_book {
    width: 90%;
  }
}

.nav_link {
  text-decoration: none;
}